doctype html:5
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
        title Pug SASS/SCSS Starter Pack
        link(rel='stylesheet' href='css/styles.css')
    body
        main
            header
                h1 Pug SASS/SCSS Starter Pack
                p Here's some simple boilerplate to get you started quickly!
            section
                h2 How to Get Started:
                p In a terminal, execute 'npm install' and the 'npm run dev' and you should be all good to go!
